# Boolean operations

In [1]:
2<5

True

In [2]:
4>10

False

In [3]:
3==3

True

In [4]:
5==9

False

In [5]:
6!=8

True

In [6]:
3!=3

False

Type casting

In [7]:
float(9)

9.0

In [8]:
int(5.8)

5

# Python Basic steps

In [9]:
print('python is fun')

python is fun

In [10]:
num1=2

In [11]:
num2=5

In [12]:
num3=num1+num2
num3

7

In [13]:
a=input('enter first value')

enter first value30

In [14]:
a

'30'

In [15]:
b=input('enter second value')

enter second value10

In [16]:
b

'10'

In [17]:
c=a+b
c

'3010'

In [18]:
c=int(a)+int(b)
c

40

Strings

In [19]:
mystring="hello"

In [20]:
mystring

'hello'

Concatenate  strings-adding of strings

In [21]:
"happy"+" "+"birthday"

'happy birthday'

In [22]:
"happy "+" birthday"

'happy  birthday'

In [23]:
mystring

'hello'

In [24]:
#length of variable
len(mystring)

5

In [26]:
#index
print("hello"[0])

h

In [27]:
print(mystring[3])

l

In [28]:
print("hello"[0:2])

he

In [29]:
city="newjersey"

In [30]:
city[3]

'j'

In [31]:
city[0:3]

'new'

In [32]:
city[:2]

'ne'

In [33]:
city[0:]

'newjersey'

In [34]:
city[-2]

'e'

In [35]:
city[0:-2]

'newjers'

In [36]:
city[-7:-2]

'wjers'

In [37]:
#datatype
h=8
type(h)

int

In [38]:
s="hello"
type(s)

str

In [39]:
d=4.6
type(d)

float

In [43]:
height=4.89
weight=56.2
bmi=weight/height**2
print(bmi)

2.3502745471957716

In [44]:
#find area of rectangle
length=20
breadth=15
area=length*breadth
print(area)

300

# Python datastructures

In [45]:
create_a_list=[]

In [46]:
create_a_list

[]

In [47]:
list=[1,2,3,4]

In [48]:
list

[1, 2, 3, 4]

In [49]:
numbers_list=[12,45,70,100]

In [50]:
numbers_list

[12, 45, 70, 100]

In [51]:
strings_list=["superman","ironman","batman"]

In [52]:
strings_list

['superman', 'ironman', 'batman']

In [53]:
mixed_list=[12,45,"hello",True]

In [54]:
mixed_list

[12, 45, 'hello', True]

In [55]:
my_list=["orange","red",45,67,300]

In [56]:
my_list

['orange', 'red', 45, 67, 300]

In [57]:
my_list[2]

45

In [58]:
my_list[1]

'red'

In [59]:
my_list[-1]   #negative index count from backwards

300

In [60]:
#slicing in depth
a=[1,2,3,4,5,6,7,8,9]

#[start:stop:jump or skip]
print(a[0:5:2])

[1, 3, 5]

In [61]:
print(a[2:8:3])

[3, 6]

In [62]:
print(a[::2])

[1, 3, 5, 7, 9]

In [63]:
print(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Manipulating list

Operators

Lists can be concateated

In [64]:
fruits=["apple","orange","grapes","banana"]
veggies=["kale","broccoli","spinach"]
grocery_list=fruits+veggies
grocery_list

['apple', 'orange', 'grapes', 'banana', 'kale', 'broccoli', 'spinach']

In [65]:
mobile=["iphone","samsung","lg","lava","blackberry"]
channel=["reliance","lava","vodafone"]
total=mobile +channel
total

['iphone',
 'samsung',
 'lg',
 'lava',
 'blackberry',
 'reliance',
 'lava',
 'vodafone']

In [66]:
cricket_list=["dhoni",79,"kohli",90,"sachin",89]

In [67]:
cricket_list[0:4]

['dhoni', 79, 'kohli', 90]

In [68]:
grocery_list

['apple', 'orange', 'grapes', 'banana', 'kale', 'broccoli', 'spinach']

In [70]:
grocery_list.sort()

In [71]:
grocery_list

['apple', 'banana', 'broccoli', 'grapes', 'kale', 'orange', 'spinach']

In [72]:
num_list=[26,4,56,87,34]

In [73]:
num_list

[26, 4, 56, 87, 34]

In [74]:
num_list.pop(2)

56

In [79]:
num_list

[26, 4, 87, 34]

Lists are mutable. It can be changed after creation

In [76]:
a=[1,2,3,4,5,6]

In [77]:
a[0]=9

In [78]:
a

[9, 2, 3, 4, 5, 6]

Tuples

In [120]:
my_tuple=("Michel","John",56,"Software Developer")

In [121]:
my_tuple[1]

'John'

In [122]:
tuple1=(3,6,7,8)
tuple2=(1,2,3,4)
tuple3=tuple1+tuple2

In [123]:
tuple3

(3, 6, 7, 8, 1, 2, 3, 4)

In [124]:
tuple3.sort()
tuple3

AttributeError: 'tuple' object has no attribute 'sort'

In [125]:
tuple3[4]

1

In [126]:
tuple3[4]=9

TypeError: 'tuple' object does not support item assignment

In [88]:
tuple3

[1, 2, 3, 3, 9, 6, 7, 8]

Dictionary

In [89]:
dict={'Name':'Zara','Age':12,'Class':'First'}

In [90]:
dict

{'Name': 'Zara', 'Age': 12, 'Class': 'First'}

In [91]:
dict['Name']

'Zara'

In [92]:
print(dict['Age'])

12

In [93]:
len(dict)

3

In [94]:
dict.keys()

dict_keys(['Name', 'Age', 'Class'])

In [95]:
dict.values()

dict_values(['Zara', 12, 'First'])

In [96]:
dict.items()

dict_items([('Name', 'Zara'), ('Age', 12), ('Class', 'First')])

In [98]:
#Adding a new key value pair
dict.update({'Fees':3000})

In [99]:
dict

{'Name': 'Zara', 'Age': 12, 'Class': 'First', 'Fees': 3000}

In [100]:
color_dict={'rock':'brown','tress':'green','apple':'red','banana':'yellow'}

In [101]:
color_dict

{'rock': 'brown', 'tress': 'green', 'apple': 'red', 'banana': 'yellow'}

Enhanced operation in dictionary

In [102]:
#Dictionary with integer values
intdict={10:'C++',20:'Java',30:'Python',40:'Ruby'}

In [103]:
intdict.keys()

dict_keys([10, 20, 30, 40])

In [104]:
intdict.values()

dict_values(['C++', 'Java', 'Python', 'Ruby'])

In [105]:
intdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (30, 'Python'), (40, 'Ruby')])

In [106]:
#adding the new keys to the dictionary
intdict.update({50:'Rails'})

In [107]:
print(intdict)

{10: 'C++', 20: 'Java', 30: 'Python', 40: 'Ruby', 50: 'Rails'}

In [108]:
#deleting a key
del intdict[50]

In [109]:
intdict

{10: 'C++', 20: 'Java', 30: 'Python', 40: 'Ruby'}

In [110]:
#delete with pop
intdict.pop(30)

'Python'

In [111]:
intdict

{10: 'C++', 20: 'Java', 40: 'Ruby'}

In [112]:
#dictionary with multiple values
newdict={1:['Red','Blue','Green'],2:['Yellow','Brown','Purple'],3:['Violet','Orange','Black']}

In [113]:
newdict.keys()

dict_keys([1, 2, 3])

In [114]:
newdict.values()

dict_values([['Red', 'Blue', 'Green'], ['Yellow', 'Brown', 'Purple'], ['Violet', 'Orange', 'Black']])

In [115]:
newdict.clear()

In [116]:
newdict

{}

In [117]:
del newdict

In [118]:
newdict

NameError: name 'newdict' is not defined